<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Sami.</h1>
    <h3>1 * 4</h3>
    <h3><%= 1 * 4 %></h3>
    <h3><%= "samiullah".toUpperCase()%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque, accusamus ad, ea aspernatur iure vitae suscipit perferendis provident unde amet sint perspiciatis. Accusamus quas fuga repellendus atque laudantium odit.</p>
    <button>click me!</button>
</body>
</html>